/* font _by [Caroline Hadilaksono](http://www.hadilaksono.com) & [Micah Rich](http://micahrich.com)_ */
@font-face {
    font-family: "League Gothic";
    src: url(League_Gothic-webfont.eot)  format(eot),
         url(League_Gothic-webfont.woff) format(woff),
         url(League_Gothic-webfont.ttf)  format(truetype),
         url(League_Gothic-webfont.svg)  format(svg);
}


body {
    font-family: "Helvetica";
    background-color: #D6E1E8;
    color: #222;
    text-shadow: #fff 1px 1px 2px;
}
div.slide.cover {
    padding-top:6%;
    text-align:center;
}
div.slide h1 {
    padding-top:10pt;
}
div.slide.cover h1 {
    margin-right:0px;
    padding-right:0px;
    font-size:3.5em;
}
div#LLTBox {
    margin:auto 3%;
}
div#LLTBox span.bad {
    color:#A4A7B3;
}
div#LLTBox span.good {
    color:#05B31C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "League Gothic";
    color: #111;
    text-shadow: #fff 1px 1px 4px;
}

span.control {
    color: #444;
    cursor: pointer;
    cursor: hand;
}

/* "Mersenne, And His Numbers" slide */
div.slide#slide1 ul {
    width:60%;
}
div.slide#slide1 img#mersenne {
    height:50%;
    float:right;
    position: relative;
    right:10%;
}

img {
    border: 2px solid #333;
    -moz-box-shadow: 3px 5px 5px #222;
    -webkit-box-shadow: 3px 5px 5px #222;
    box-shadow: 3px 5px 5px #222;

}
