body {
    background-color: #D6E1E8;
    color: #000;
}
div.slide.cover {
padding-top:6%;
text-align:center;
}
div.slide.cover h1 {
  margin-right:0px;
  padding-right:0px;
  font-size:3.5em;
}
div#LLTBox {
    margin:auto 3%;
}
div#LLTBox span.bad {
    color:#A4A7B3;
}
div#LLTBox span.good {
    color:#05B31C;
}
/* "Mersenne, And His Numbers" slide */
div.slide#slide1 ul {
    width:60%;
}
div.slide#slide1 img#mersenne {
    height:50%;
    float:right;
    padding-right:10%;
}
